<script src="~/Scripts/AngularModels/AdminItemsModel.js"></script>
@{
    ViewBag.Title = "Items";
}

<div ng-app="AdminItemsModel">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#weapons">Weapons</a></li>
        <li><a data-toggle="pill" href="#armours">Armours</a></li>
        <li><a data-toggle="pill" href="#misc">Misc</a></li>
    </ul>

    <div class="tab-content">
        <div id="weapons" class="tab-pane fade in active">
            <div ng-controller="WeaponsController" ng-init="">
                <div class="row">
                    <div growl></div> <!-- adding the grow directive to html -->

                    @Html.Partial("_WeaponTable")
                    <div ng-hide="detailHide">
                        @Html.Partial("_WeaponInfo")
                    </div>
                    <div ng-show="editShow">
                        @Html.Partial("_EditWeapon")
                    </div>
                    <div ng-show="addShow">
                        @Html.Partial("_AddWeapon")
                    </div>
                </div>
            </div>
        </div>
        <div id="armours" class="tab-pane fade">
            <div ng-controller="ArmoursController" ng-init="">
                <div class="row">
                    <div growl></div> <!-- adding the grow directive to html -->

                    @Html.Partial("_ArmoursTable")
                    <div ng-hide="detailHide">
                        @Html.Partial("_ArmourInfo")
                    </div>
                    <div ng-show="editShow">
                        @Html.Partial("_EditArmour")
                    </div>
                    <div ng-show="addShow">
                        @Html.Partial("_AddArmour")
                    </div>
                </div>
            </div>
        </div>
        <div id="misc" class="tab-pane fade">
            <h3>Misc</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
    @*<div class="jumbotron">
        <p class="lead">Angular is good</p>
        <p><a href="http://angularjs.org" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
</div>

