<div class="battle-round-info col-md-12 col-sm-12">
    <div id="battleCounter" class="pull-left">
        <h3 class="text-capitalize text-warning">Battle {{battleCount}}</h3>
    </div>
    <div id="roundCounter" class="pull-right">
        <h3 class="text-capitalize text-warning">Round {{roundCount}}</h3>
    </div>
</div>

<div id="battle-player" class="col-md-6 col-sm-6">
    @Html.Partial("_battlePlayer");

</div>

@*<div id="battle-divider" class="col-md-1 col-sm-1"></div>*@

<div id="battle-monster" class="col-md-6 col-sm-6">
    @Html.Partial("_battleMonster");

</div>

<div ng-show="resultShow">
    <div id="result_player" class="col-md-6 col-sm-6">
        @Html.Partial("_resultPlayer");

    </div>

    @*<div id="battle-divider" class="col-md-1 col-sm-1"></div>*@

    <div id="result_monster" class="col-md-6 col-sm-6">
        @Html.Partial("_resultMonster");

    </div>
    <div><input type="button" value="Continue" class="btn btn-success center-block" ng-click="nextRound()" /></div>
</div>

<div id="bottom-wrapper" class="col-md-12 col-lg-12 col-sm-12" ng-show="bottomHide">
    <div class="col-md-4 col-lg-4 col-sm-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-4">@Html.Partial("_DiceRollerPlayer")</div>
    <div class="col-md-4 col-lg-4 col-sm-4"></div>
</div>

@*@Html.Partial("_DiceRollerMonster")*@
